<a href="https://colab.research.google.com/github/bachi-mohamed-rafik/ML_intro/blob/main/1Housing_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Prediction House prices in Boston

In [32]:
# imports
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston
from sklearn import datasets, linear_model, metrics 
from sklearn.model_selection import train_test_split

In [24]:
boston = load_boston()
print(boston.data.shape)

(506, 13)

In [25]:
#
x=pd.DataFrame(boston.data,columns=boston.feature_names)
y=pd.DataFrame(boston.target)
print(x)
print(y)
x.describe()

        CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0    0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1    0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2    0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3    0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4    0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33
..       ...   ...    ...   ...    ...  ...  ...    ...      ...     ...    ...
501  0.06263   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  391.99   9.67
502  0.04527   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   9.08
503  0.06076   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   5.64
504  0.10959   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  393.45   6.48
505  0.04741   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   7.88

[506 rows x 13 columns]
        0
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]

             CRIM          ZN       INDUS  ...     PTRATIO           B       LSTAT
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...   18.455534  356.674032   12.653063
std      8.601545   23.322453    6.860353  ...    2.164946   91.294864    7.141062
min      0.006320    0.000000    0.460000  ...   12.600000    0.320000    1.730000
25%      0.082045    0.000000    5.190000  ...   17.400000  375.377500    6.950000
50%      0.256510    0.000000    9.690000  ...   19.050000  391.440000   11.360000
75%      3.677083   12.500000   18.100000  ...   20.200000  396.225000   16.955000
max     88.976200  100.000000   27.740000  ...   22.000000  396.900000   37.970000

[8 rows x 13 columns]

In [33]:
#Making a linear regression
from sklearn.model_selection import train_test_split
reg = linear_model.LinearRegression()

x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.4,random_state=1)
print(x_train)

        CRIM    ZN  INDUS  CHAS    NOX  ...   RAD    TAX  PTRATIO       B  LSTAT
452  5.09017   0.0  18.10   0.0  0.713  ...  24.0  666.0     20.2  385.09  17.27
346  0.06162   0.0   4.39   0.0  0.442  ...   3.0  352.0     18.8  364.61  12.67
295  0.12932   0.0  13.92   0.0  0.437  ...   4.0  289.0     16.0  396.90   6.27
88   0.05660   0.0   3.41   0.0  0.489  ...   2.0  270.0     17.8  396.90   5.50
322  0.35114   0.0   7.38   0.0  0.493  ...   5.0  287.0     19.6  396.90   7.70
..       ...   ...    ...   ...    ...  ...   ...    ...      ...     ...    ...
255  0.03548  80.0   3.64   0.0  0.392  ...   1.0  315.0     16.4  395.18   9.25
72   0.09164   0.0  10.81   0.0  0.413  ...   4.0  305.0     19.2  390.91   5.52
396  5.87205   0.0  18.10   0.0  0.693  ...  24.0  666.0     20.2  396.90  19.37
235  0.33045   0.0   6.20   0.0  0.507  ...   8.0  307.0     17.4  376.75  10.88
37   0.08014   0.0   5.96   0.0  0.499  ...   5.0  279.0     19.2  396.90   8.77

[303 rows x 13 columns]

In [36]:
#training the model using training set 
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [39]:
#Getting the regression coefficient
reg.coef_

array([[-8.95714048e-02,  6.73132853e-02,  5.04649248e-02,
         2.18579583e+00, -1.72053975e+01,  3.63606995e+00,
         2.05579939e-03, -1.36602886e+00,  2.89576718e-01,
        -1.22700072e-02, -8.34881849e-01,  9.40360790e-03,
        -5.04008320e-01]])

In [41]:
#predict the house price
reg.predict(x_test)

array([[32.5767836 ],
       [28.31584043],
       [18.02490895],
       [21.22723902],
       [18.30706301],
       [20.41855673],
       [33.00388637],
       [18.23492365],
       [24.15996405],
       [26.44388935],
       [26.89587445],
       [29.11404673],
       [20.47403529],
       [26.72290735],
       [23.00917779],
       [20.06036007],
       [17.93614868],
       [38.60918158],
       [30.21848598],
       [ 8.72510853],
       [20.4218793 ],
       [15.62926355],
       [25.14572116],
       [24.8208665 ],
       [31.33254683],
       [10.32111619],
       [13.97300109],
       [16.59941009],
       [36.11111224],
       [14.50980925],
       [21.75924461],
       [14.18085506],
       [43.80568262],
       [18.29067878],
       [21.0769219 ],
       [20.36535011],
       [17.77192542],
       [27.41157074],
       [ 8.78516292],
       [19.77211274],
       [23.57601701],
       [21.48478378],
       [29.01124151],
       [16.29101185],
       [19.34443514],
       [14.72102079],
       [39.10168604],
       [18.15651807],
       [24.90906159],
       [19.6083671 ],
       [25.34392074],
       [24.35100549],
       [24.85160986],
       [25.8996609 ],
       [ 4.61421883],
       [24.39859206],
       [11.27077844],
       [26.40774218],
       [17.10969386],
       [36.0904063 ],
       [19.67664968],
       [27.23937264],
       [16.53365016],
       [18.15907977],
       [11.30355765],
       [31.98198816],
       [36.95839215],
       [21.45909144],
       [24.13250983],
       [24.41496302],
       [23.46245892],
       [ 6.98544199],
       [15.69004286],
       [20.90901803],
       [20.65100918],
       [21.09179956],
       [33.62584873],
       [27.8598505 ],
       [25.06231279],
       [35.46695443],
       [19.31464639],
       [23.27640089],
       [34.32534674],
       [13.58758135],
       [21.29042943],
       [29.80515072],
       [17.35561076],
       [24.38496524],
       [18.98886858],
       [17.72392536],
       [27.41848903],
       [41.95804013],
       [14.32450982],
       [22.80526735],
       [14.58973366],
       [21.50406424],
       [23.47838791],
       [29.22720261],
       [37.22516161],
       [20.54563964],
       [16.4155803 ],
       [18.21326206],
       [24.79190815],
       [22.25545086],
       [ 8.71421282],
       [21.20296216],
       [14.73006456],
       [31.54715088],
       [24.20086147],
       [25.3096051 ],
       [38.17624923],
       [28.22033166],
       [14.37458901],
       [35.30227817],
       [35.46142453],
       [32.87020186],
       [21.1279694 ],
       [16.28659179],
       [35.03740942],
       [39.61343221],
       [20.6454664 ],
       [15.3793382 ],
       [27.47891053],
       [18.95323784],
       [27.53056862],
       [21.05405081],
       [25.42966851],
       [22.3802906 ],
       [22.39038473],
       [28.45198817],
       [20.22140822],
       [23.97529302],
       [29.3329107 ],
       [10.42025171],
       [27.15016037],
       [33.04900847],
       [14.17365766],
       [12.83532496],
       [33.72427748],
       [15.75277802],
       [18.74314445],
       [16.92420179],
       [17.25379375],
       [28.3965777 ],
       [34.54366224],
       [20.48365583],
       [24.6039962 ],
       [17.09621043],
       [27.88327386],
       [20.94139341],
       [33.84747506],
       [14.1550611 ],
       [19.64551137],
       [19.15713668],
       [20.27286545],
       [32.31111862],
       [14.5293722 ],
       [28.45970824],
       [22.89421306],
       [28.99015547],
       [34.07565321],
       [36.30114489],
       [24.33596177],
       [18.20586396],
       [18.66196259],
       [21.77461959],
       [26.82240611],
       [16.25068292],
       [15.71220696],
       [26.18366066],
       [22.38663042],
       [17.90882485],
       [14.97788993],
       [30.00806408],
       [18.79394999],
       [23.84446541],
       [33.24922009],
       [23.92154382],
       [35.84412917],
       [20.92896735],
       [22.89134963],
       [26.73756655],
       [17.04759586],
       [33.24629887],
       [13.39552963],
       [22.78231362],
       [20.38562111],
       [34.74095998],
       [21.57933645],
       [22.22992201],
       [20.74941001],
       [15.84277665],
       [22.51506659],
       [25.269853  ],
       [22.36898011],
       [18.63792899],
       [32.47683751],
       [21.31930513],
       [34.81808291],
       [25.36978941],
       [18.81849169],
       [ 2.52098402],
       [24.88844846]])

In [43]:
#MSE
MSE = np.square(np.subtract(y_test,reg.predict(x_test))).mean()
print(MSE)

0    25.205775
dtype: float64