<a href="https://colab.research.google.com/github/bachi-mohamed-rafik/ML_intro/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Cleaning

In [1]:
import pandas as pd
import numpy as np

d='https://raw.githubusercontent.com/realpython/python-data-cleaning/master/Datasets/BL-Flickr-Images-Book.csv'
columns=["Identifier","Edition_Statement","Place_of_Publication","Date_of_Publication","Publisher","Title","Author","Contributors","Corporate_Author","Corporate_Contributors","Former_owner","Engraver","Issuance_type","Flickr_URL,Shelfmarks"]
df = pd.read_csv(d,sep=',')
print(df.head())
print(df.columns)

   Identifier  ...                           Shelfmarks
0         206  ...    British Library HMNTS 12641.b.30.
1         216  ...    British Library HMNTS 12626.cc.2.
2         218  ...    British Library HMNTS 12625.dd.1.
3         472  ...  British Library HMNTS 10369.bbb.15.
4         480  ...     British Library HMNTS 9007.d.28.

[5 rows x 15 columns]
Index(['Identifier', 'Edition Statement', 'Place of Publication',
       'Date of Publication', 'Publisher', 'Title', 'Author', 'Contributors',
       'Corporate Author', 'Corporate Contributors', 'Former owner',
       'Engraver', 'Issuance type', 'Flickr URL', 'Shelfmarks'],
      dtype='object')

#Dropping Columns in a DataFrame

In [2]:
to_drop=['Edition Statement','Corporate Author','Corporate Contributors','Former owner','Engraver','Contributors','Issuance type','Shelfmarks']
df.drop(to_drop,axis=1)

      Identifier  ...                                         Flickr URL
0            206  ...  http://www.flickr.com/photos/britishlibrary/ta...
1            216  ...  http://www.flickr.com/photos/britishlibrary/ta...
2            218  ...  http://www.flickr.com/photos/britishlibrary/ta...
3            472  ...  http://www.flickr.com/photos/britishlibrary/ta...
4            480  ...  http://www.flickr.com/photos/britishlibrary/ta...
...          ...  ...                                                ...
8282     4158088  ...  http://www.flickr.com/photos/britishlibrary/ta...
8283     4158128  ...  http://www.flickr.com/photos/britishlibrary/ta...
8284     4159563  ...  http://www.flickr.com/photos/britishlibrary/ta...
8285     4159587  ...  http://www.flickr.com/photos/britishlibrary/ta...
8286     4160339  ...  http://www.flickr.com/photos/britishlibrary/ta...

[8287 rows x 7 columns]

#Changing index

In [3]:
#Check if Identifier have unique values
print("Check if Identifier have unique values: \n",df['Identifier'].is_unique)

#set Identifier as index
df.set_index('Identifier')

Check if Identifier have unique values:
 True

                       Edition Statement  ...                                         Shelfmarks
Identifier                                ...
206                                  NaN  ...                  British Library HMNTS 12641.b.30.
216                                  NaN  ...                  British Library HMNTS 12626.cc.2.
218                                  NaN  ...                  British Library HMNTS 12625.dd.1.
472                                  NaN  ...                British Library HMNTS 10369.bbb.15.
480         A new edition, revised, etc.  ...                   British Library HMNTS 9007.d.28.
...                                  ...  ...                                                ...
4158088                              NaN  ...  British Library HMNTS|British Library HMNTS 10...
4158128                              NaN  ...  British Library HMNTS|British Library HMNTS 10...
4159563                              NaN  ...  British Library HMNTS|British Library HMNTS 19...
4159587                              NaN  ...  British Library HMNTS|British Library HMNTS 10...
4160339                              NaN  ...  British Library HMNTS|British Library HMNTS 79...

[8287 rows x 14 columns]

#Tidying up Fields in the Data

In [4]:
print(df.dtypes.value_counts())

object     11
float64     3
int64       1
dtype: int64

In [5]:
df.loc[1000:, 'Date of Publication'].head(10)

1000            1842
1001            1851
1002            1876
1003    1853, [1852]
1004            1857
1005            1863
1006            1869
1007          [1896]
1008            1894
1009        1863, 64
Name: Date of Publication, dtype: object

In [6]:
import re
regex = r'^(\d{4})'
#extr = df['Date of Publication'].str.extract(r'^(\d{4})', expand=False)
#print(extr)

df['Date of Publication'] = pd.to_numeric(df['Date of Publication'], errors='coerce')
print(df['Date of Publication'].dtype)
print(df['Date of Publication'])

float64
0          NaN
1       1868.0
2       1869.0
3       1851.0
4       1857.0
         ...
8282    1838.0
8283       NaN
8284       NaN
8285    1834.0
8286       NaN
Name: Date of Publication, Length: 8287, dtype: float64

#Combining str Methods with NumPy to Clean Columns

In [7]:
#Get a specific column
print("Get a specific column:\n",df['Place of Publication'].head(10))

#Get a specific row
print("Get a specific row:\n",df.loc[1003])

Get a specific column:
 0                                 London
1               London; Virtue & Yorston
2                                 London
3                                 London
4                                 London
5                                 London
6                                 London
7    pp. 40. G. Bryan & Co: Oxford, 1898
8                                London]
9                                 London
Name: Place of Publication, dtype: object
Get a specific row:
 Identifier                                                           487146
Edition Statement         New edition. With an appendix of the populatio...
Place of Publication                                                 London
Date of Publication                                                     NaN
Publisher                                                     W. Tegg & Co.
Title                     [A General Gazetteer, in miniature ... The who...
Author                                               BROOKES, Richard - M.D
Contributors                                     FINDLAY, Alexander George.
Corporate Author                                                        NaN
Corporate Contributors                                                  NaN
Former owner                                                            NaN
Engraver                                                                NaN
Issuance type                                                   monographic
Flickr URL                http://www.flickr.com/photos/britishlibrary/ta...
Shelfmarks                                British Library HMNTS 10002.e.21.
Name: 1003, dtype: object

In [8]:
p=df['Place of Publication']
l=p.str.contains('London')
o=p.str.contains('Oxford')

df['Place of Publication'] = np.where(l, 'London',
                                      np.where(o, 'Oxford',
                                               p.str.replace('-', ' ')))
print(df['Place of Publication'])

0                    London
1                    London
2                    London
3                    London
4                    London
               ...
8282                 London
8283                  Derby
8284                 London
8285    Newcastle upon Tyne
8286                 London
Name: Place of Publication, Length: 8287, dtype: object

In [16]:
d='https://github.com/realpython/python-data-cleaning/blob/master/Datasets/olympics.csv'
df = pd.read_csv(d, skiprows=2, error_bad_lines=False)
print(df.head())
print(df.columns)
print(df)

                                     <!DOCTYPE html>
0                                   <html lang="en">
1                                             <head>
2                             <meta charset="utf-8">
3    <link rel="dns-prefetch" href="https://githu...
4    <link rel="dns-prefetch" href="https://avata...
Index(['<!DOCTYPE html>'], dtype='object')
                                        <!DOCTYPE html>
0                                      <html lang="en">
1                                                <head>
2                                <meta charset="utf-8">
3       <link rel="dns-prefetch" href="https://githu...
4       <link rel="dns-prefetch" href="https://avata...
...                                                 ...
3472    <div class="Popover-message Popover-message-...
3473                                             </div>
3474                                             </div>
3475                                            </body>
3476                                            </html>

[3477 rows x 1 columns]

b'Skipping line 71: expected 1 fields, saw 2\nSkipping line 90: expected 1 fields, saw 137\nSkipping line 91: expected 1 fields, saw 2\nSkipping line 106: expected 1 fields, saw 3\nSkipping line 154: expected 1 fields, saw 3\nSkipping line 166: expected 1 fields, saw 6\nSkipping line 167: expected 1 fields, saw 3\nSkipping line 191: expected 1 fields, saw 4\nSkipping line 195: expected 1 fields, saw 2\nSkipping line 197: expected 1 fields, saw 2\nSkipping line 198: expected 1 fields, saw 2\nSkipping line 199: expected 1 fields, saw 2\nSkipping line 200: expected 1 fields, saw 2\nSkipping line 201: expected 1 fields, saw 2\nSkipping line 202: expected 1 fields, saw 2\nSkipping line 203: expected 1 fields, saw 2\nSkipping line 204: expected 1 fields, saw 2\nSkipping line 205: expected 1 fields, saw 2\nSkipping line 209: expected 1 fields, saw 2\nSkipping line 210: expected 1 fields, saw 2\nSkipping line 216: expected 1 fields, saw 2\nSkipping line 219: expected 1 fields, saw 2\nSkipping line 227: expected 1 fields, saw 4\nSkipping line 233: expected 1 fields, saw 2\nSkipping line 238: expected 1 fields, saw 2\nSkipping line 239: expected 1 fields, saw 2\nSkipping line 240: expected 1 fields, saw 2\nSkipping line 241: expected 1 fields, saw 2\nSkipping line 242: expected 1 fields, saw 2\nSkipping line 247: expected 1 fields, saw 2\nSkipping line 248: expected 1 fields, saw 2\nSkipping line 249: expected 1 fields, saw 2\nSkipping line 250: expected 1 fields, saw 2\nSkipping line 257: expected 1 fields, saw 2\nSkipping line 265: expected 1 fields, saw 4\nSkipping line 270: expected 1 fields, saw 2\nSkipping line 273: expected 1 fields, saw 2\nSkipping line 274: expected 1 fields, saw 2\nSkipping line 278: expected 1 fields, saw 2\nSkipping line 279: expected 1 fields, saw 2\nSkipping line 301: expected 1 fields, saw 2\nSkipping line 439: expected 1 fields, saw 6\nSkipping line 440: expected 1 fields, saw 3\nSkipping line 445: expected 1 fields, saw 6\nSkipping line 446: expected 1 fields, saw 3\nSkipping line 536: expected 1 fields, saw 6\nSkipping line 547: expected 1 fields, saw 6\nSkipping line 560: expected 1 fields, saw 6\nSkipping line 576: expected 1 fields, saw 3\nSkipping line 584: expected 1 fields, saw 3\nSkipping line 592: expected 1 fields, saw 3\nSkipping line 600: expected 1 fields, saw 3\nSkipping line 608: expected 1 fields, saw 3\nSkipping line 707: expected 1 fields, saw 7\nSkipping line 755: expected 1 fields, saw 2\nSkipping line 827: expected 1 fields, saw 2\nSkipping line 830: expected 1 fields, saw 2\nSkipping line 3726: expected 1 fields, saw 2\nSkipping line 3727: expected 1 fields, saw 3\nSkipping line 3728: expected 1 fields, saw 3\nSkipping line 3729: expected 1 fields, saw 3\nSkipping line 3730: expected 1 fields, saw 3\nSkipping line 3731: expected 1 fields, saw 3\nSkipping line 3738: expected 1 fields, saw 3\nSkipping line 3739: expected 1 fields, saw 3\nSkipping line 3740: expected 1 fields, saw 3\nSkipping line 3741: expected 1 fields, saw 3\nSkipping line 3742: expected 1 fields, saw 3\nSkipping line 3743: expected 1 fields, saw 3\n'